@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body{
    height: 100%;
    width: 100%;
    font-family: 'roboto', sans-serif;
    color: rgba(24, 23, 23, 0.753)
}

/*---NavBar---*/

.navbar{
    padding: 8px;
}

.navbar-nav li {
    padding-right: 20px;
}

#companyLogo {
    width: 80px;
    height: 80px;
}

.nav-link{
    font-size: 17.5px !important; 
}

/*---Background Image---*/

.bg {
  background-image: url("images/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}